<meta charset="utf-8"/>
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords"
      content="Tunis, Tunisie, Ariana, Art, Histoire, Expositions, Collections, Éducation, Visites guidées, Galerie d'art, Sculpture, Peinture, Art, contemporain, Patrimoine, culturel, Archéologie, Anthropologie, Sciences naturelles, Musique, Cinéma, Théâtre, Ateliers, Conférences, Événements, Programme pour enfants, Tourisme, Billetterie"/>
<meta name="description"
      content="Notre mus&eacute;e est un lieu de rencontre et de d&eacute;couverte pour les visiteurs de tout &acirc;ge. Nous sommes fiers de mettre en valeur des objets remarquables qui racontent l'histoire de notre monde, de notre soci&eacute;t&eacute; et de notre culture."/>
<meta property="og:site_name" content="MuseGO"/>
<meta property="og:description"
      content="Notre mus&eacute;e est un lieu de rencontre et de d&eacute;couverte pour les visiteurs de tous &acirc;ges et de tous horizons. Nous sommes fiers de mettre en valeur des objets remarquables qui racontent l'histoire de notre monde, de notre soci&eacute;t&eacute; et de notre culture. Nous sommes &eacute;galement engag&eacute;s dans la promotion de l'art contemporain et dans la reconnaissance des artistes locaux."/>
<meta property="og:local" content="fr_FR"/>
<meta property="og:image" content="{{ asset('images/poster1000.png') }}"/>
<meta charset="UTF-8"/>
<link rel="shortcut icon" href="{{ asset('icon.ico') }}">
