<footer class="footer-style2-area chnage-bg-style">
    <div class="layer-outer-bg"
         style="background-image:url({{ asset('images/parallax-background/footer-style4-bg.jpg') }});"></div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget clr-white marbtm50">
                        <div class="footer-logo">
                            <a href="{{ path('app_front_home') }}"><img src="{{ asset('images/resources/logo-2.png') }}"
                                                                        alt="Footer Logo"></a>
                        </div>
                        <div class="text">Notre mission est de rendre l'art et la culture accessibles à tous, en particulier à ceux qui n'ont pas eu la chance de les découvrir auparavant.
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->

                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget clr-white">
                        <div class="title">
                            <h3>Contacts :</h3>
                        </div>
                        <div class="contact-us">
                            <p>Tunis,Tunisie</p>
                            <div class="phone-num">
                                <a href="tel:1800-123-4659">70 700 700</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-2 col-lg-8 col-md-8 col-sm-12 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-footer-widget clr-white opening-hours-box pdtop50">
                        <div class="title">
                            <h3>Horaire Ouverture :</h3>
                        </div>
                        <div class="opening-hours">
                            <p>Tous les Jours : 9h30 à 18h00<br> Fermé le Dimanche</p>
                        </div>
                    </div>
                    <div class="single-footer-widget clr-white follow-sociallinks-widget-box">
                        <div class="title">
                            <h3>Follow Us :-</h3>
                        </div>
                        <div class="footer-social-links">
                            <ul class="social-links-style1">
                                <li>
                                    <a href="https://www.facebook.com/profile.php?id=100090616883418"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a  href="mailto:contact.musego@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
            </div>
        </div>
    </div>
    <div class="footer-bottom-style2">
        <div class="container">
            <div class="copyright-text text-center">
                <p>© Copyright {{ 'now' | date('Y') }} MuseGO. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
